.suggestions-wrapper {
  position: absolute;
  top: 40px;
  background: #fff;
}

.suggestions-wrapper ul {
  padding: 10px 0;
  margin: 0;
  list-style: none;
}

.suggestions-wrapper ul li {
  display: flex;
}

.suggestions-wrapper ul li:hover {
  background: rgba(0, 0, 125, 0.4);
}

.suggestions-wrapper ul li button {
  width: 100%;
  padding: 10px;
  border: 0;
  background: none;
  cursor: pointer;
}

#geocoded-result {
  height: 300px;
}

.view-defaultview .ui.basic.segment:has(#geocoded-result) {
  width: 100%;
}

.marker-cluster {
  border-radius: 100%;
  background-color: #ff8d00;
  -webkit-box-shadow: 0px 0px 8px 2px #ff8d00;
  box-shadow: 0px 0px 8px 2px #ff8d00;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 12px;
  text-align: center;
}

.marker-cluster span {
  line-height: 30px;
}
