.suggestions-wrapper {
  position: absolute;
  top: 40px;
  background: #fff;
}

.suggestions-wrapper ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.suggestions-wrapper ul li {
  display: flex;
}

.suggestions-wrapper ul li:hover {
  background: rgba(0, 0, 125, 0.4);
}

.suggestions-wrapper ul li button {
  cursor: pointer;
  background: none;
  border: 0;
  width: 100%;
  padding: 10px;
}

#geocoded-result {
  height: 300px;
}
